# Django settings
PORT=8000
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://127.0.0.1:5173,http://localhost:5173

# Database configuration
# Note: No need to specify if starting locally, these are used when connecting to an external database (e.g. on Render)
#POSTGRES_HOST=
#POSTGRES_PORT =

POSTGRES_DB=llm_arena
POSTGRES_USER=llm_arena
POSTGRES_PASSWORD=llm_arena

# API keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
FINKI_BASE_URL=https://pna.finki.ukim.mk/v1
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_REDIRECT_URI=
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=1

# Additional settings
AUTO_START_SETUP=true

# Render examples:
# DJANGO_ALLOWED_HOSTS=api-your-app.onrender.com,api.example.com
# CORS_ALLOWED_ORIGINS=https://frontend-your-app.onrender.com
# CSRF_TRUSTED_ORIGINS=https://api-your-app.onrender.com,https://frontend-your-app.onrender.com
